<div id="list">
	<%= render partial: 'books/book', collection: @books, locals: { type: :details } %>
	
	<%# @books.each do |book| %>
	  <%#= render 'books/book2', book: book, type: :details %>
	<%# end %>

	<%#= render @books, type: :details %>
</div>